exportPattern("^[[:alpha:]]+")
importFrom("stats", "glm", "model.matrix", "pnorm", "power", "predict",
               "qnorm", "quantile", "rbinom", "rnorm", "rpois", "sd")
importFrom(foreach,'%dopar%')
importFrom(parallel,detectCores)
importFrom(doParallel,registerDoParallel)
importFrom(ggplot2, ggplot, aes)
import(lme4)
import(Matrix)
import(arrangements)
import(doParallel)
import(lme4)
import(ggplot2)
import(doRNG)
import(compiler)
